.menuItem {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out;

    &.active {
        color: var(--primary-color);

        .icon {
            display: none;
        }

        .icon-active {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.title {
    margin-left: 10px;
}

.icon,
.icon-active,
.mes-icon {
    display: flex;
}

.icon-active {
    display: none;
}
