.content {
    width: 224px;
    padding-bottom: 8px;

    .menu_item {
        color: rgb(22, 24, 35);
        width: 100%;
        justify-content: flex-start;
        background-color: transparent;
        line-height: 1.8rem;
        border-radius: 0;
        font-weight: 600;
        padding: 11px 16px;
        margin-left: 0;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-wrapper {
    padding-bottom: 8px;
}

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.btn-back {
    width: 50px;
    height: 100%;
    justify-content: start;
    background-color: transparent;
}

.header-title {
    position: absolute;
    font-size: 1.6rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
